<div class="container">
  <div class="box">
    <div class="page-header">
      <h2><%= @user.name %>的专辑</h2>
    </div>
    <% if @collections  %>
      <% @collections.each do |collection| %>
      <div class="category">
        <h4><%= link_to collection.name, collection_path(collection) %></h4><p>共<%= collection.designs.count %>个设计</p>
        <% if collection.designs.count < 1 %>
        <p>该专辑还没有上传设计</p>
      <% else %>
        <ul class="thumbnails">
          <% collection.designs.limit(5).each do |design| %>
            <li class="span2">
              <div class="thumbnail">
                <%= link_to design_path(design),class:"design" do %>
                  <%= image_tag("#{design.image.thumb}",:alt => "#{design.title}", class:"img-rounded") %>
                <% end %> <!-- end of link_to -->
                <p> <%= "#{design.title}" %></p>
              </div> <!-- end of div thumbnail -->
            </li>
          <% end %><!-- end of collection.designs.each -->
          <li class="span1">
            <div class="thumbnail">
              <%= link_to "浏览全部",collection_path(collection),class:"" %>
            </div>
          </li>
        </ul>
      <% end %> <!-- end of if collection.designs.count -->
    </div><!-- end of div category -->
  <% end %>
  <% end %>
  </div>
</div><!-- end of container -->
