<% @page_title = " | #{@collection.name}的设计" %>
<div class="container">
  <div class="row">
    <div class="span9">
      <div class="box">
      <h3><%= @collection.name %></h3>
    <ul class="thumbnails">
      <% @collection.designs.each do |design| %>
        <li class="span3">
        <div class="thumbnail">
          <%= link_to :controller => 'designs', :action => 'show',:id => design.id do %>
            <%= image_tag("#{design.image.thumb}",:alt => "#{design.title}", class:"img-rounded") %>
          <h5> <%= "#{design.title}" %></h5>
        <% end %> <!-- end of link_to -->
        </div> <!-- end of div thumbnail -->
        </li>
    <% end %><!-- end of collection.designs.each -->
  </ul>
</div ><!-- end of box -->
    </div> <!-- end of span9 -->
    <div class="span3">
      <%= render partial:"shared/user_side",locals:{:user => @user} %>
      </div>
  </div>
</div>



<script type="text/javascript">
//$("#newCollection").modal()                       // initialized with defaults
</script>

