<% @page_title = " | 编辑设计信息" %>
<div class="container">
  <div class="row">
    <div class="span9">
    <div class="box">
      <div class="page-header">
        <h4>编辑设计</h4>
        </div>
        <div id="update_design" class="container">
          <div class="span4">
            <%= form_for (@design),:html => {:multitype => true } do |f| %>
              <%= render 'shared/error_messages',object: f.object %>
            <%= f.label :title,"为什么喜欢这个设计？" %>
            <%= f.text_area :title, rows: 3 %>
            <%= f.label :collection_id,"所属灵感集" %>
            <%= f.select :collection_id,@user.collections.all.collect{|s| [s.name,s.id]} %>
            <a href="#newCollection" role="button" class="" data-toggle="modal">
              新建灵感集
          </a>
            <%= f.label :collection_id,"所属分类" %>
            <%= f.select :category_id,Category.all.collect{|s| [s.name,s.id]},{:include_blank => true} %><br>
            <%= f.label :tag_id,"设置标签" %>
            <% Tag.all.each do |tag| %>
              <%= check_box_tag "design[tag_ids][]",tag.id,@design.tags.include?(tag) %>
            <%= tag.name %>
          <% end %>
          <br>
          <br>
          <%= f.submit "更新设计",class:"btn btn-large btn-primary" %>
          <%= link_to "取消修改",@design, class:"btn btn-large" %>
          <%= link_to "删除此设计",@design,confirm:"确定删除此设计",method: :delete %>
            <h5>更换设计图片</h5>
            <%= f.file_field :image %>
        <% end %>
          </div>
          <div class="span4">
            <p>设计预览</p>
            <%= image_tag("#{@design.image}", :alt => "#{@design.title}",class:"img-rounded") %>
          </div>
        </div>
      </div><!-- end of box -->
      </div><!-- end of span9 -->
      <div class="span3">
        <%= render partial: "shared/user_side",locals:{user:@user} %>
      </div>
    </div>
  </div>

<!-- Modal -->
<div id="newCollection" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: block; ">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">新增专辑</h3>
  </div>
  <div class="modal-body">

    <% if current_user %>
      <%= form_for [current_user,@collection] do |f| %>
      <%= f.label :name,"专辑名称" %>
    <%= f.text_field :name %>
    <%= f.submit "保存" %>
  <% end %>
  <% end %>

  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal">Close</button>
    <button class="btn btn-primary">Save changes</button>
  </div>
</div>
