<div class="container-fluid">
  <div class="row-fluid">
    <div class="span9">
      <div class="page-header">
        <h1><%= @user.name %>的设计收藏</h1>
      </div>
      <div class="container-fluid">
        <h4><%= @design.title %></h4>
        <% if session[:user_id]==User.find(Collection.find(@design.collection_id).user_id).name %>
          <%= link_to("编辑该设计的属性",{:action => 'edit',:id => @design.id} ) %>
      <% end %>
        <div class="design-display">
          <%= image_tag("#{@design.image}",alt:"#{@design.title}") %>
        </div>
        <h4>所在我的专辑</h4>
        <div class="collection">
          <%= @collection.name %>
        <% if session[:user_id]==@design.user_id %>
          <!-- Link to trigger modal -->
          <a href="#editCollection" role="button" class="" data-toggle="modal">修改专辑名称</a>
        <% end %>
        </div>
        <h4>所在分类目录</h4>
        <div class="category">
          <% if @category %>
          <%= @category.name %>
        <% else %>
          <%= "其它分类" %>
        <% end %>
        </div>
        <h4>此设计所属标签</h4>
        <div class="tags">
          <% if @design.tags.any? %>
            <% @design.tags.each do |tag| %>
              <%= link_to "#{tag.name}",tag,class:"btn" %>
            <% end %>
          <% else %>
            <p>此设计还没有设置标签</p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="span3">
      <%= render partial: "shared/user_side",locals: {:user => @user} %>
    </div>
  </div>
</div>



<!-- Modal -->
<div id="editCollection" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: block; ">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">编辑专辑</div>
  <div class="modal-body">

    <%= form_for(@collection) do |f| %>
      <%= f.label :name,"专辑名称" %>
      <%= f.text_field :name %>
      <%= f.submit "保存编辑" %>
    <% end %>

  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal">Close</button>
    <button class="btn btn-primary">Save changes</button>
  </div>
</div>
