<%= error_messages_for(@user) %>
<div class="row-fluid">
  <div class="span12 offset5">
    <h1>登录</h1>
    <%= form_tag(:action => 'create') do -%>
      <%= label_tag :name, "帐户" -%>
      <%= text_field_tag :name -%>
      <%= label_tag :password, "密码" -%>
      <%= password_field_tag :password -%>
      <p><%= submit_tag "登录",class:"btn btn-large btn-primary " -%></p>
    <% end -%>
    <%= link_to "还不是会员，马上注册！",signup_path %>
  </div>
</div>

