<% 
  #SEO variables
  @page_title = " | 注册为淘灵感会员，马上开始创建家居灵感集"
  @description = "淘灵感www.TaoLingGan.com:寻找灵感，产生创意，创建家居灵感集.致力于为您打造“温馨、美丽之家”， 在这里您可以发现无数充满创意、激发灵感的精美设计； 收集自己喜欢的设计加入自己的灵感收集箱， 并用于自己的家装设计中；轻松的在这里找到专业的、靠谱的设计师； 分享自己的设计风格，让自己成为风向标……"
  @keywords = "淘灵感,家居设计,图片,室内设计,灵感,创意,室内装修,寻找灵感,产生创意,创建家居灵感集,客厅,卧室,厨房,卫生间,餐厅,书房"
%>
<div class="box">
<h2>注册</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :name %>
  <%= f.text_field :name %></div>

  <div><%= f.label :email %>
  <%= f.email_field :email %></div>

  <div><%= f.label :password %>
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %></div>
    <%= f.label :user_type,"我的身份" %>
<p><%= f.radio_button(:user_type,"2",:checked => false) %>  我是设计师，我想分享设计，传播我的思想。</p>
<p><%= f.radio_button(:user_type,"1",:checked => false) %>  家居爱好者，不是设计师，但我喜欢收藏精美的家居设计。</p>
<p><%= f.radio_button(:user_type,"0",:checked => false) %>  以上都不是，随便看看。</p>


  <div><%= f.submit "注册",class:"btn btn-large btn-success" %></div>
<% end %>

<%= render "devise/shared/links" %>
</div>
