<% @page_title = " | #{@user.name}的灵感及设计" %>
<div class="container">
  <div class="row">
    <div class="span9">
      <div class="box">



      <% if current_user == @user %>
        <h3>上传新设计</h3>
        <div id="upload_design">

          <%= form_for [@user,@design],:html => {:multitype => true } do |f| %>
            <%= render 'shared/error_messages',object: f.object %>
          <%= f.label :image,"选择设计图片" %>
          <%= f.file_field :image %>
          <%= f.hidden_field :collection_id %>
          <br>
          <%= f.submit "上传设计",class:"btn btn-large btn-primary",:disable_with => "上传中..." %>
        <% end %>
      </div>
      <hr>
        <h4>我的设计</h4>
      <%= render partial:"shared/content",locals:{designs:@designs} %>
      <% else %>
        <h3><%= @user.name %>的设计</h3>
      <%= render partial:"shared/content",locals:{designs:@designs} %>
    <% end %>
  </div><!-- end of box -->
</div><!-- end of span9 -->
    <div class="span3">
      <%= render partial:"shared/user_side",locals:{:user => @user} %>
    </div>
  </div>
</div>


<%= render "shared/flow_script" %>
