<div class="container">
  <div class="row">
    <div class="span9">
      <div class="box">



      <% if current_user == @user %>
        <h3>上传新设计</h3>
        <div id="upload_design">

          <%= form_for [@user,@design],:html => {:multitype => true } do |f| %>
            <%= render 'shared/error_messages',object: f.object %>
            <%= f.label :image,"选择设计图片",:class =>"inline" %>
          <%= f.file_field :image,:style =>"display:inline" %>
          <%= f.label :collection_id,"所属灵感集",:class =>"inline" %>
          <%= f.select :collection_id,@user.collections.all.collect{|s| [s.name,s.id]},:class =>"inline" %>
          <br>
          <%= f.submit "上传设计",class:"btn btn-large btn-primary inline",:disable_with => "上传中,请耐心等待..." %>
        <% end %>
      </div>
      <% else %>
        <h3><%= @user.name %>的设计</h3>
      <%= render partial:"shared/content",locals:{designs:@designs} %>
      <%= render "shared/flow_script" %>
    <% end %>
  </div><!-- end of box -->
</div><!-- end of span9 -->
    <div class="span3">
      <%= render partial:"shared/user_side",locals:{:user => @user} %>
    </div>
  </div>
</div>


