<div class="box">
  <h4>按照分类目录筛选</h4>
  <% categorys.each do |category| %>

    <% if current_category && category.id == current_category.id %>
    <%= link_to '#',class:"badge" do %>
    <i class="icon-folder-open icon-white"></i>   <%= "#{category.name}" %>
<% end %>
  <% else %>
    <%= link_to category,class:"badge badge-success" do %>
    <i class="icon-folder-open icon-white"></i>   <%= "#{category.name}" %>
<% end %>
  <% end %>
<% end %>

  <% if current_category %>
    <%= link_to 'others',class:"badge badge-success" do %>
    <i class="icon-folder-open icon-white"></i>   其它设计
  <% end %>
  <% else %>    
    <%= link_to '#',class:"badge " do %>
    <i class="icon-folder-open icon-white"></i>   其它设计
  <% end %>
  <% end %>      
</div>

