<div class="well">
  <h4>按照标签筛选</h4>
  <% tags.each do |tag| %>

    <% if current_tag && tag.id == current_tag.id %>
    <%= link_to '#',class:"btn disabled" do %>
      <i class="icon-tag"></i>   <%= "#{tag.name}" %>
  <% end %>
  <% else %>
    <%= link_to tag,class:"btn" do %>
      <i class="icon-tag"></i>   <%= "#{tag.name}" %>
  <% end %>
  <% end %>
<% end %>

  <% if current_tag %>
    <%= link_to 'others',class:"btn" do %>
      <i class="icon-tag"></i>   未指定标签
  <% end %>
  <% else %>    
    <%= link_to '#',class:"btn disabled" do %>
      <i class="icon-tag"></i>   未指定标签
  <% end %>
  <% end %>      
</div>


