<div class="box sidebar">
  <div class="userProfile clearfix">
  <%= image_tag user.avatar.big.url,class:"pull-left avatar" %>
  <h5><%= user.name %></h5>
</div>
  <ul class="nav nav-tabs nav-stacked">
    <li>
    <%= link_to user_collections_path(user) do %>
    <i class="icon-folder-close"></i>
    <%= "#{user.collections.count}个专辑" %>
  <% end %>
    </li>
    <li><%= link_to user_designs_path(user) do %>
    <i class="icon-upload"></i>
    <%= "#{user.designs.count}个上传" %>
  <% end %>
    </li>
  </ul>

</div> <!-- end of .box .sidebar-->

  <% if current_user == user %>
    <%= link_to "上传新设计", user, class:"btn btn-block btn-success btn-large" %>
  <% end %>
  <br>

  <div class="box sidebar">
  <h5>TA的标签</h5>
    <div>
    <% user.tags.uniq.each do |tag| %>
      <%= link_to tag, class:"badge badge-success designTag" do %>
        <i class="icon-tag icon-white"></i> <%= "#{tag.name}" %>
      <% end %>
    <% end %>
    </div>
  </div>

<div class="box sidebar">
  <% if Design.any? %>
  <h5>发现</h5>
  <div class="thumbnail clearfix">
    <%= link_to design = Design.all.sample,class:"design" do %>
      <%= image_tag(design.image.thumb,:alt => "explore", class:"img-rounded") %>
  <% end %>
      <%= link_to user_designs_path(design.collection.user) do %>
        <%= image_tag design.collection.user.avatar.normal.url,class:"pull-left avatar" %>
        <%= design.collection.user.name %>
    <% end %>
      <p><%= design.title %></p>
  </div>
<% end %>
</div>
