<div class="well sidebar">
  <h4><%= user.name %></h4>
  <p><%= user.email %></p>
  <hr>
  <ul class="nav nav-tabs nav-stacked">
    <li><%= link_to "#{user.collections.count}个专辑",user_collections_path(user) %></li>
    <li><%= link_to "#{user.designs.count}个上传",user_designs_path(user) %></li>
    <li><%= link_to "20个设计","#" %></li>
  </ul>
  <h5>TA的标签</h5>
  <ul class="nav nav-tabs nav-stacked">
    <% user.tags.uniq.each do |tag| %>
    <li><%= link_to tag do %>
    <i class="icon-tag"></i> <%= "#{tag.name}" %>
  <% end %>
    </li>
  <% end %>
  </ul>
  <h5>我关注的人</h5>
  <h5>发现</h5>
      <div class="thumbnail">
        <%= link_to '#' do %>
        <%= image_tag("/images/explore.jpg",:alt => "explore", class:"img-rounded") %>
        <h3>发现</h3>
      <% end %>
            <p>balabalbala</p>
          </div>
</div>
