<!--用户注册/编辑信息 -->

    <%= f.label :name,"用户名" %>
    <%= f.text_field :name %>
    <%= f.label :email,"邮箱" %>
    <%= f.text_field :email %>
    <%= f.label :password,"密码" %>
    <%= f.password_field :password %>
    <%= f.label :password_confirmation,"确认密码" %>
    <%= f.password_field :password_confirmation %>
    <%= f.label :avatar,"上传头像" %>
    <%= f.file_field :avatar %>
    <%= f.label :user_type,"我的身份" %>
    <p><%= f.radio_button(:user_type,"2") %>  我是设计师，我想分享设计，传播我的思想。</p>
    <p><%= f.radio_button(:user_type,"1") %>  家居爱好者，不是设计师，但我喜欢收藏精美的家居设计。</p>
    <p><%= f.radio_button(:user_type,"0") %>  以上都不是，随便看看。</p>
